%table.stocks
  %thead
    %tr
      %th watch
      %th company name
      %th ticker
      %th last price
  %tbody
    - @stocks.each do |stock|
      %tr{ :class => cycle("odd", "even") }
        /stock_path(stock) is incorrect here, but watch method is not yet implemented
        %td= link_to 'Watch', stock_path(stock)
        %td= link_to stock.company_name, stock_path(stock)
        %td= stock.ticker
        %td= stock.quote.last.last_price
