%table.stocks
  %thead
    %tr
      %th
      %th ticker
      %th company name
  %tbody
    - @stocks.each do |stock|
      %tr{ :class => cycle("odd", "even") }
        %td= stock.id
        %td= link_to stock.company_name, stock_path(stock)
        %td= stock.ticker
